body {
  font-family: Source Code Pro;
  color: black;
  padding:0;
  border:0;
  margin:0;
  background-color: white;
}

h1{
  font-size: 5em;
  color:deeppink
}

h2{
  font-size:2em;
}

h3{
  font-size: 4em;
  font-weight:900;
/* -webkit-text-stroke:0.0001px white; */
  padding-top: 0;
  line-height: 5px;
}

h4{
  font-size: 3em;
  color:lightslategray;
}

p{
font-size: 1.2em;
}

nav {
  background: white;
  height: 7em;
  padding-top: 0;
}

nav li {
  display: inline-block;
  margin: 0 2.5%;
}

.logo {
  /* position: absolute; */
  Float: left;
  width: 140px;
  /* max-width: 100px; */
  padding-left: 55px;
}

.nav-mid {
  position: relative;
  left:-3%;
  text-align: center;
  font-size: 1.8em;
  padding-top: 1.6em;
}

.contact {
display: inline-;
 position: relative;
  float:right;
  clear:right;
}


main {
}

.project-showcase{
position:relative;
clear:both;
background-color: white;
padding-left: 0;
margin-left: 0;
}

.projects{
  position: absolute;
  padding-top: 10px;
  padding-left: 0;
  margin-left: 0;
  width: 100vw;
  height: 80vh;
  min-width:1000px;
  object-fit: cover; 
  /* object-position: center; */
}

.spacer{
  position: relative;
  width: 100vw;
  height: 80vh;
}

.about{
  background: lightgray;
  display:flex;
  position: relative;
}

.portrait{
  order:1;
  width:39.4%;
  padding: 0.8%;
  padding-left: 0;
  object-fit: cover;
}

.intro{
  order:2;
  padding: 20px;
  padding-top: 5%;
}

.gap-20 { 
  width:100%; 
  height:20px; 
} 


.pink{
  background-color: #ffe1ec;
  display: flex;
  position:relative;
  padding-left: 0%;
  padding: 0%;
  margin: 0%;
  clear:both;
}
.Hardware{
  width:30%;
  object-fit: cover;
  position: relative;
}

.HardwareManufacturing{
  display: inline-block;
  position: absolute;
  color:deeppink;
  left:2%
}

.HardwareSkills{
  padding-top: 0%;
  padding-left: 2%;
}

.red{
  background-color: #ffdfd4;
  display: flex;
  position:relative;
  padding-left: 0%;
  padding: 0%;
  margin: 0%;
  clear:both;
}
.Media{
  width:30%;
  object-fit: cover;
  position: relative;
}

.Creative_Media{
  display: inline-block;
  position: absolute;
  color:red;
left:2%
}

.MediaSkills{
  padding-top: 0%;
  padding-left: 2%;
}

.blue{
  background-color: #e8d8ff;
  display: flex;
  position:relative;
  padding-left: 0%;
  padding: 0%;
  margin: 0%;
  clear:both;
}
.Design{
  width: 30%;
  object-fit: cover;
  position: relative;
}

.DesignGraphics{
  display: inline-block;
  position: absolute;
  color:blue;
  left:2%
}

.DesignSkills{
  padding-top: 0%;
  padding-left: 2%;
}



* {
  box-sizing: border-box;
}
.contact_box {
  background-color: black;
  padding:1%;
  margin-top: 0;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

input[type=text], select, textarea {
  width: 100%;
  height: 3em;
  padding: 5px;
  background-color: black;
  border: 1px solid deeppink;
  border-radius: 4px;
  resize: vertical;
}


input[type=submit] {
  background-color: deeppink;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: deeppink;
}



@media (width < 1660px) {
  h1{
    font-size: 4em;
}
h3{
  font-size: 3em;
}

@media (width < 1000px) {
  h1{
    font-size: 3em;
}
h3{
  font-size: 1.5em;
}

h4{
    font-size: 2em;
  }
}


/* 
@media (width > 2000px) and (height < 750px) {
  .projects{
    height: 1500px;
    min-width:1000px;
  }
  
  .spacer{
    height: 1500px;
  }
} */